@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}
body {
  background-color: #f6f6f6;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 60px;
}

a {
  display: flex;
  min-width: 500px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 40px;
  background-color: #345b63;
  color: #f6f6f6;
  border-radius: 6px;
  border: 2px solid #345b63;
}

a:hover {
  background-color: #f6f6f6;
  color: #345b63;
}

.container-main{
  display: flex;
  justify-content: center;
  /* margin: 40px; */
  padding: 20px;
  margin-bottom: 50px;
}

.lord-icon{
  display: flex;
  justify-content: center;
}
.algo h1{
  font-size: 120px;
  font-weight: 600;
  margin-top: 45px;
}

.main-wrap{
  padding: 30px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  a {
    min-width: 300px;
  }

  .box{
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 390px) {
  a {
    min-width: 200px;
  }
  .box{
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 300px) {
  a {
    min-width: 150px;
  }
  .box{
    margin-bottom: 40px;
  }
}
